/.vs/Space-Shooter-Game-Unity/v15/Server/sqlite3
/UnityPackageManager
/Temp
/Space-Shooter-Game-Unity.sln
/Space-Shooter-Game-Unity.Editor.csproj
/Space-Shooter-Game-Unity.csproj
/Space Shooter.sln
/Space Shooter.Editor.csproj
/Space Shooter.csproj
/Library
/Build
